<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Site</title>
</head>
<body>
  <h1>Mini Games!</h1>
  <p>Using express/ejs</p>
  <p>latest commit: 'renderer'</p>
  <form action="" method="post">
        <input type="text" name="" id="name" placeholder="Name..">
        <button type="submit">Enter</button>
  </form>
</body>
</html>
