<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Site</title>
</head>
<body>
  <h1>Mini Games!</h1>
  <form action="" method="post">
    <input type="text" name="username" placeholder="Name">
    <button type="submit">Join Lobby</button>
  </form>
</body>
</html>
